conda.enabled = true
executor.perCpuMemAllocation = true

process {
    executor = 'slurm'
    cpus = 15
    memory = '120 GB'
}

params {
    threads = "15"

    // fastq = "$projectDir/data/fastq/*.fastq"
    cram = "$projectDir/data/cram/*.pass.cram{,.crai}"
    
    reference = "$projectDir/data/hg38/GRCh38_GIABv3_no_alt_analysis_set_maskedGRC_decoys_MAP2K3_KMT2C_KCNJ18.fasta"
    fai = "$projectDir/data/hg38/GRCh38_GIABv3_no_alt_analysis_set_maskedGRC_decoys_MAP2K3_KMT2C_KCNJ18.fasta.fai"

    // prior = "0.99" // measure of strictness of variant calling (greater = less strict). Only applies to bcftools. Using lofreq now

    min_alt_cov = "2" // minimum variant (alt) coverage for consideration in downstream analysis
    flanking_seq_length = "100" // length of flanking sequences from variant site to extract

    // define file paths for high confidence bed regions and benchmark vcfs for HG001-HG004
    bed1 = "$projectDir/data/GIAB/HG001/HG001_GRCh38_1_22_v4.2.1_benchmark.bed"
    bed2 = "$projectDir/data/GIAB/HG002/HG002_GRCh38_1_22_v4.2.1_benchmark_noinconsistent.bed"
    bed3 = "$projectDir/data/GIAB/HG003/HG003_GRCh38_1_22_v4.2.1_benchmark_noinconsistent.bed"
    bed4 = "$projectDir/data/GIAB/HG004/HG004_GRCh38_1_22_v4.2.1_benchmark_noinconsistent.bed"

    giab1 = "$projectDir/data/GIAB/HG001/HG001_GRCh38_1_22_v4.2.1_benchmark_highconf.vcf"
    giab2 = "$projectDir/data/GIAB/HG002/HG002_GRCh38_1_22_v4.2.1_benchmark_highconf.vcf"
    giab3 = "$projectDir/data/GIAB/HG003/HG003_GRCh38_1_22_v4.2.1_benchmark_highconf.vcf"
    giab4 = "$projectDir/data/GIAB/HG004/HG004_GRCh38_1_22_v4.2.1_benchmark_highconf.vcf"

}
